.photo-grid {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 520px) {
  .photo-grid {
    max-width: calc(100% - 32px);
  }
}
