.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: calc(100% - 296px);
}

@media (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
