.cover__subtitle {
  position: absolute;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 429px;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    margin-top: 379px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    margin-top: 299px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 119px;
    font-size: 14px;
    line-height: 16px;
  }
}
