.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px auto 64px;
  max-width: 640px;
  max-height: 72px;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}


@media (max-width: 520px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;
    max-width: 288px;
    max-height: 40px;
  }
}
