.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 32px auto 64px;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;
    max-width: 288px;
  }
}
