.photo-grid__items {
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
display: grid;
margin-top: 92px;
width: 100%;
box-sizing: border-box;
gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid__items {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 88px;
    gap: 16px;
  }
}

@media (max-width: 320px) {
  .photo-grid__items {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 64px;
    gap: 12px;
  }
}
