.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  margin: 8px 0 0 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 520px) {
  .lead__caption {
    margin-left: 16px;
  }
}

