.place {
  width: 100%;
  display: grid;
  grid-template-areas:
   "title website"
   "image paragraph";
   column-gap: 40px;
   row-gap: 48px;
   margin-bottom: 80px;
   box-sizing: border-box;
}

@media (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .place {
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media (max-width: 520px) {
  .place {
    margin-bottom: 50px;
    row-gap: 32px;
    grid-template-areas:
     "title"
     "website"
     "image"
     "paragraph";
  }
}

.place:last-of-type {
  margin-bottom: 0;
}
