.footer {
  padding-top: 92px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 89px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    max-width: calc(100% - 32px);
  }
}
