.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 0;
  max-width: 690px;
}

@media (max-width: 1024px) {
  .intro__title {
    margin-top: 87px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
  }
}
